################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/NetReaderNeo_Manual/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/NetReaderNeo_Manual/config/applicationhost.config
